/* Bekijk ook in aside */
.recommend-lab{
    display: none; /*Zorgt ervoor dat hij niet zichtbaar is op mobile*/
}

/* NAV (Hamburger menu)*/

/* MAIN */
main{
    background: #1876b5;
}

.topImg{
    width: 100vw;
    height: 30vh;
}

article{
    width: 100vw;
    padding: 1em 2em;
}

article h1{
    text-align: center;
}

section{
    padding: 1em;
}

section img{
    align-self: center;
    width: 30vw;
    height: 30vh;
    min-width: 200px;
    min-height: 200px;
}

.info ul {
    list-style: none;
}

/* MEDIAQUERYS */
@media only screen and (min-width: 600px){
    /* BODY */
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
          "a m"
          "f f";
    }

    /* ASIDE */
    aside {
        grid-area: a;
    }

    /* SEARCH */
    .search input{
        width: 20vw;
    }

    /* Bekijk ook in aside */
    .recommend-lab{
        display: block; /*Zorgt ervoor dat hij zichtbaar is op laptop*/
    }

    /* MAIN */
    .topImg{
        width: 75vw;
        height: 40vh;
    }

    /* Bekijk ook in main */
    .recommend-m{
        display: none; /*Zorgt ervoor dat hij niet zichtbaar is op laptop*/
    }

    article{
        width: 75vw;
    }
}

