/* FLITER */
.filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-content: center;
}

.filter div{
    padding: 1em;
    margin: 1em;
    background-color: gray;
}

/* Initiatieven */
.initiatief{
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px)); /*Zorgt ervoor dat de grid automatisch verandert met het scherm*/
    justify-content: center;
    width: 100vw;
}

.initiatief li{
    padding: 1.5em;
    width: 300px;
    align-content: center;
}


/* MEDIAQUERYS */
@media only screen and (min-width: 600px){
    .filter{
        max-width: 500px;
    }
}